.weather {
  display: block;
  margin-top: 30px;
}

.forecast {
  display: inline-flex;
  padding-top: 30px;
  gap: 30px;
  height: 160px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 125px;

  margin-left: 10px;
}

.item img {
  height: 50px;
  padding-bottom: 5px;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scroll-padding-bottom: 15px;
}
