.button {
  display: flex;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid white;
}

.button:hover {
  cursor: pointer;
  border-color: rgb(191, 204, 204);
}
